* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ul,
ol {
    background-color: rgba(147, 255, 255);
    width: 700px;
    margin: auto;
    padding: 20px 50px;
    border-radius: 15px;
}

img {
    height: auto;
    width: 300px;
    margin: 20px 0px;
}

p {
    text-align: left;
    width: 700px;
    margin: auto;
    padding: 10px;
}
